extends base.pug  

block scripts 
    script(src='/static/index.js')

block style 
    style 
            include ../static/style.css

block content 
    section#introSection 
            div Welcome to Priyanka's Dance Academy
            div.small Eat Dance Sleep Repeat

    section#missionSection 
        h2 Our Mission
        div.card  
            h3 Dance Perfection
            div.card-box  
                div.card-img  
                    img(src="/static/img/d1.png")

                div.card-content  
                    p This is the best Dance Academy of the Universe    
        div.card  
            h3 Dance the way you like
            div.card-box  
                div.card-img  
                    img(src="/static/img/d2.jpg")

                div.card-content  
                    p This is the best Dance Academy of the Universe      
        div.card  
            h3 Expert Teaching 
            div.card-box  
                div.card-img  
                    img(src="/static/img/d3.jpg")

                div.card-content  
                    p This is the best Dance Academy of the Universe    
    
    section#sponsorsSection 
        h2 Our Sponsors 
        div#sponsors  
            img(src="/static/img/s1.png", alt="Sponsors Image", class="spImage")
            img(src="/static/img/s2.png", alt="Sponsors Image", class="spImage")
            img(src="/static/img/s3.png", alt="Sponsors Image", class="spImage")
            img(src="/static/img/s4.png", alt="Sponsors Image", class="spImage")


